body{
    margin:0;
    padding:0;
  }
  
  .intro-container{
    width:80%;
    height: 700px;
    margin:5% auto;
   
    background-color: blue;
  }
  /* The Following part is done by me(ved) */
  
  .heading {
    font-size: 40px;
    background-color:#F4D757;
  }
  
  /* Ends here */
  